<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aanyajindal.splitexpense">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportsActivity"
            android:label="@string/title_activity_reports"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountsActivity"
            android:label="@string/title_activity_accounts"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroupsActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".TransactionsActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".AccountsActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".AddGroupActivity" />
        <activity
            android:name=".AddIndividualExpense"
            android:label="@string/title_activity_add_individual_expense"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EditGroupActivity"
            android:label="@string/title_activity_edit_group"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>